<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your reservation!</h1>
    <p>We hope you enjoy your meal!</p>
  </body>
</html>