<% if @restaurant.errors.any? %>
    <div>
       <p><%= pluralize(@restaurant.errors.count, "error") %> prevented this restaurant from saving.</p>
          <ul>
               <% @restaurant.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
               <% end %>
          </ul> 
        
    </div>
<% end %>