


<div class="inner">
          <h3 class="masthead-brand">CleverBird</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="<%= root_path %>">Home</a>
            <a class="nav-link" href="<%= restaurants_path %>">Restaurants</a>
            <a class="nav-link" href="#">     .</a>
            <% if current_user.present? %>
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_user.first_name %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="<%= edit_user_registration_path(current_user) %>">Profile</a>
                  <a class="dropdown-item" href="<%= reservations_path %>">Reservations</a>
                  <a class="dropdown-item" href="<%= blogs_path %>">Blogs</a>
                  <a class="dropdown-item" href="<%= destroy_user_session_path %>">Log Out</a>
                </div>
               </li>
            <% else %>
                    <a class="nav-link" href="<%= new_user_registration_path %>">Sign Up</a>
                    <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
            <% end %>
              </nav>
</div>


