
    
<% Category.all.each do |category| %>
  <li>
  <%= link_to category.name, posts_path(category: category.name) %>
  </li>
<% end %>
     
<!--
    <div class="restaurant_regions">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">By Region
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <% Region.all.each do |region| %>
      <li>
      <%= link_to region.name, restaurants_path(region: region.name) %>
      </li>
      <% end %>
      <li><a href="<%= restaurants_path %>">All Regions</a></li> 
      </ul>
      </li>
</div>-->
