<div class="container">
   <div class="row">
    <% @restaurants.each do |restaurant| %>
     <h1><%= link_to restaurant.title, restaurant_path(restaurant) %></h1>
     <p><%= restaurant.description %></p>
    <% end %>
   </div>
</div>




