<h1>About Us</h1>
<p> We are a site that provide offers of up to 50% off meals for up to 4 poeple.</p>
<p>By exchanging 6 euro for a reservation you can save up to 25 euro per person. It is as easy as a click of a button</p>