
    <%= simple_form_for([@reservation]) do |f| %>

    
    <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
    <div class="field field-1">
        <%= f.input :customers %>
    </div>
      <div class="field">
       <%= date_select('reservation', 'time') %>
        
    </div>
       

        
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :table_id, value: @table.id %>
        <%= f.hidden_field :time, value: :time %>
    
    
    
    <br/>
    <div class="action">
         <%= f.submit "Book Now" %>
     </div>
    
    

<% end %>


