<main role="main" class="inner cover">
      
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Your Upcoming Reservations</h1>
         
        </div>
      </section>
    
    <div class="col-md-12">
     <% @reservations.each do |reservation| %>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><a href="<%= reservation_path(reservation) %>" ><h3><%= reservation.table.restaurant.title %></h3></a></strong>
          
          <div ><p>Email: <%= current_user.email %></p></div>
          <p >Date : <%= reservation.time %></p>
          <p >Seats : <%= reservation.customers %></p>
        </div>
        
      </div>
       <% end %>
    </div>
     
   
   <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Your Previous Reservations</h1>
          
        </div>
      </section>
    
    <div class="col-md-12">
     <% @expired_reservations.each do |reservation| %>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><a href="<%= reservation_path(reservation) %>"><h3><%= reservation.table.restaurant.title %></h3></a></strong>
          
          <div><p>Email: <%= current_user.email %></p></div>
          <p>Date : <%= reservation.time %></p>
          <p>Seats : <%= reservation.customers %></p>
        </div>
        
      </div>
       <% end %>
    </div>
    
    


          
</main>