<main role="main" class="inner cover">
    <div class="container">
       <div class="row">
          
           <div class="title-heading">
              <h1>Your Booking Reference!</h1>
           </div>
        </div>
           <div class="row">
           <div class="col-md-12">
               <p>Restaurant : <%= @reservation.table.restaurant.title %></p>
           </div>
           <div class="col-md-12">
               <p>Name: <%= current_user.last_name %></p>
           </div>
           <div class="col-md-12">
               <p>Email: <%= current_user.email %></p>
           </div>
           
           <div class="col-md-12">
               <p>Date : <%= @reservation.time %></p>
           </div>
           
           <div class="col-md-12">
               <p>No. of Customers : <%= @reservation.customers %></p>
           </div>
           
           <div class="col-md-12">
               <p>Price : €<%= @reservation.table.price %></p>
           </div>
        </div>
        <div class="row">
           <div class="col-md-12">
                <p>Cancel? <%= link_to "Cancel my reservation", reservation_path(@reservation), data: { confirm: "Are you sure?" }, method: :delete %></p>
           </div>
        </div>
    </div>
    
</main>
 


