
       
  <main role="main" class="inner cover">
      
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">CleverBird Restaurants</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
      </section>
      <div class="container">
          <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="<%= restaurants_path %>">All Regions</a>
                     <% Region.all.each do |region| %>
                        <a class="p-2 text-muted" href="#"><%= link_to region.name, restaurants_path(region: region.name) %></a>
                     <% end %>

                </nav>
          </div>
      </div>
    <br/>
       
    
        <div class="row mb-2">
    <div class="col-md-12">
     <% @restaurants.each do |restaurant| %>
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><a href="<%= restaurant_path(restaurant) %>" class="card-text"><h3><%= restaurant.title %></h3></a></strong>
          
          <div class="mb-1 text-muted">€50</div>
          <p class="card-text mb-auto"><%= restaurant.description %></p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <a class="img-fluid" > <%= image_tag(restaurant.image, size: "265x255") if restaurant.image.attached?%></a>
        </div>
      </div>
       <% end %>
    </div>
    
  </div>    
    


          
</main>


