<div class="container">
   <div class="row">
    
      <div class="title-heading">
          <h1><%= @table.restaurant.title %></h1>
      </div>
       <div class="col-md-12">
           <p>Seats : <%= @table.seats %></p>
       </div>
       
       <div class="col-md-12">
           <p>Price : <%= @table.price %></p>
       </div>
      
   </div>
   
   
   
</div>