<div class="container">
   <div class="row">
    <%= simple_form_for([ @restaurant]) do |f| %>
     <%= render 'shared/error_messages' %>
     <%= f.association :country, include_blank: false, label: "Choose Country" %>
     <%= f.association :region, include_blank: false, label: "Choose Region" %>
     
     <div class="field">
         <%= f.input :title %>
     </div>
     
     <div class="field">
         <%= f.input :image %>
     </div>
     
     <div class="field">
         <%= f.input :description, placeholder: 'Type the restaurant tect here' %>
     </div>
     
     <div class="action">
         <%= f.submit %>
     </div>
     <% end %>
    </div>
</div>
