
  <main role="main" class="inner cover">
    <h1 class="cover-heading">CleverBird.</h1>
    <p class="lead">Get luxury dining for a fraction of the price. Deals up to 50% off Dublin's finest restaurants in just a few clicks of a button.</p>
    <p class="lead">
      <a href="restaurants" class="btn btn-lg btn-secondary">Get Started</a>
    </p>
  </main>
           
          
  
       
  