
       
  <main role="main" class="inner cover">
      
  
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">CleverBird Restaurants</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        </div>
      </section>
      
    <br/>
       
    
        <div class="row mb-2">
    <div class="col-md-12">
    <div class="container">
          <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="<%= restaurants_path %>">All Regions</a>
                     <% Region.all.each do |region| %>
                        <a class="p-2 text-muted" href="#"><%= link_to region.name, restaurants_path(region: region.name) %></a>
                     <% end %>

                </nav>
          </div>
      </div>
     <% @restaurants.each do |restaurant| %>
     <div class="rest">
         <div class="row ">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><a href="<%= restaurant_path(restaurant) %>" class="card-text"><h3><%= restaurant.title %></h3></a></strong>
          <p class=""><%= restaurant.description %></p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
          <a class="img-fluid" > <%= image_tag(restaurant.image, size: "265x255") if restaurant.image.attached?%></a>
        </div>
      </div>
     </div>
      
       <% end %>
    </div>
    
  </div>    
    


          
</main>

<!--
<div class="album text-muted">
   <div class="container">
      <div class="row">
        
         <% @restaurants.each do |restaurant| %>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
           <%= image_tag(restaurant.image, size: "150x150") if restaurant.image.attached?%>
           <p class="card-text">
            <span><%= link_to restaurant.title, restaurant_path(restaurant) %></span>
            <%= restaurant.description %>
          </p>
    </div>
 </div>
<% end %>
      </div>
   </div>
</div>
-->

