
     <div class="container-fluid">
       <div class="row row-rest">
           <div class="col-md-12">
                <div class="title-heading">
                   <h1><%= @restaurant.title %></h1>
                </div>
           </div>
         
          <div class="col-md-6">
               <p><br />Price : €<%= @table.price %></p>
               <p><br />Rating : <%= @reviews.average(:rating) %></p>
               <p>Seats: <%= @table.seats %></p>
               <p><%= @restaurant.description %></p>
          </div>
          <div class="col-md-6">
               <br /><%= image_tag(@restaurant.image, size: "295x205") if @restaurant.image.attached?%>
               <div class="col-md-12">
                   <%= link_to 'Review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
              
                    <%= link_to 'Book', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
             
                    <%= link_to 'Reserved', reservations_path, class: "btn btn-secondary" %>
              </div>
          </div>
          
           <div class=" col-md-12 row-restbook">
                <h3><br  />Book Now</h3>
                <% if current_user.present? %>
                <P><%= render 'reservations/form' %></P>
                <% else %>
                <btn><a href="<%= new_user_registration_path %>">Sign Up</a></btn>
                <btn><a href="<%= new_user_session_path %>">Sign In</a></btn>
                <% end %>
           </div>
           
           <div class="col-md-6 ">
               <h1 class="review_title"><br />Reviews</h1>
               <h3><%= @restaurant.title%></h3>
               
               <% if @reviews.blank? %>
                   <h4>No reviews just yet, want to be the first to comment?</h4>
                   <%= link_to 'write a review', new_restaurant_review_path(@restaurant), class: "btn btn-danger" %>
               <% else %>
                   <% @reviews.each do |review| %>
                       <div class="reviews">
                           <p><br />User : <%= review.user.first_name %> <%= review.user.last_name %></p>
                           <p>rating : <%= review.rating %></p>
                           <p>Comment : <%= review.comment %></p>
                          
                            <% if current_user.present? && @current_user.id == review.user_id %>
                           <p><%= link_to "Delete Comment", restaurant_review_path( review.restaurant.id, review ), data: { confirm: "Are you sure?" }, method: :delete %></p>
                           <% end %>
                       </div>
                   <% end %>
                   
                   <% if current_user.present? %>
                   <div class="reviewers" %>
                   <%= link_to 'write a review', new_restaurant_review_path(@restaurant), class: "btn btn-secondary"%>
                   </div>
                   <% end %>
                <% end %>
           </div>
       </div>
     </div>