
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :rating %>
    <%= f.input :comment %>
  </div>
  

  <div class="action">
    <%= f.submit "submit" %>
  </div>
<% end %>
