<div class="container">
   <div class="row">
    
      <div class="title-heading">
          <h1><%= @restaurant.title %></h1>
      </div>
       <div>
           <p>Seats : @table.seats</p>
       </div>
       <div>
           <p><%= @restaurant.description %></p>
       </div>
       <div>
           <p>Price : @table.price</p>
       </div>
      
       
       
        
        <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
        <%= link_to "Delete", @restaurant, method: :delete, data: { confirm: "Are you sure?"} %>
   </div>
   
   
   
</div>