<!DOCTYPE html>
<html>
  <head>
  
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
