<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CleverBird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   
    
    
  </head>
  
    

  <body>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
         <header class="masthead mb-auto">
            <%= render'shared/nav' %>  
         </header>
         <% if flash[:error] %>
             <div class="alert alert-warning" role="alert">
                  <p class="flashalert"><%= error %></p>
             </div>
         <% end %>
         <%= yield %>
         <footer class="mastfoot mt-auto">
         <%= render 'shared/footer' %>
          </footer>
      </div>
  </body>



    
</html>


